.task {
  position: absolute !important;
  width: 30%;
  margin-top: 0vh;
  margin-bottom: 0vh;
  /* top: 20vh; */
  /* bottom: 22vh; */
  /* right: 25vh; */
  /* left: 25vh; */
  justify-content: center;
  background-color: black;
  padding: 20px;
}

.headingText {
  text-align: center;
  margin-top: 0px;
}

.body {
  padding: 15px;
  text-align: center;
}

.footer {
  margin: auto;
  height: 20px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.github {
  margin-right: 10px;
}

.overLay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}
