.outerContainer {
  margin-left: 25%;
  margin-right: 25%;

  color: white;

  padding-top: 2%;
  padding-bottom: 2%;
}
.middleContainer {
  text-align: center;
}

.FocusBackground {
  background-color: rgb(186, 73, 73);
}
.ShortBackground {
  background-color: rgb(56, 133, 138);
}
.LongBackground {
  background-color: rgb(57, 112, 151);
}
.reportButton,
.settingsButton {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;

  font-size: 13px;
  margin-left: 10px;
  padding: 8px 12px;

  border: none;
  color: white !important;
}

.FocusStart {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  margin-left: 60px;
  padding: 0px 12px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 1.2rem;
  height: 4rem;
  color: rgb(186, 73, 73);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: transform 0.2s;
}
.ShortStart {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  margin-left: 60px;
  padding: 0px 12px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 1.2rem;
  height: 4rem;
  color: rgb(56, 133, 138);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: transform 0.2s;
}
.LongStart {
  cursor: pointer;
  border: none;
  margin: 20px 0px 0px;
  margin-left: 60px;
  padding: 0px 12px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 1.2rem;
  height: 4rem;
  color: rgb(57, 112, 151);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: transform 0.2s;
}

.FocusStart:hover,
.ShortStart:hover,
.LongStart:hover {
  transform: scale(1.1);
}

.TopContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
  overflow: auto;
  flex-direction: row;
}

.FocusOptions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-end;
  overflow: auto;
  flex-direction: row;
}

.FocusOptions {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: none;
}

.default {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 1%;
  transition: transform 0.1s;
}

.Clicked {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  color: white;
  background: none rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 1%;
  transition: transform 0.1s;
}

.longBreak:hover,
.Focus:hover,
.shortBreak:hover {
  transform: scale(1.1);
}

.Time {
  font-size: 100px;
  font-weight: bold;
  margin-top: 20px;
}

.todos {
  align-items: center;
  cursor: pointer;
  opacity: 0.9;

  font-size: 1.2rem;
  margin-left: 40px;
  margin-right: 40px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.todo {
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  margin: 5px;
  font-family: ArialRounded;
  border-radius: 4px;
  transition: background 0.3s, box-shadow 0.3s;
}

.todo:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.FocusAdd {
  border: none;
  background: none;
  box-shadow: none;
  color: rgb(186, 73, 73);
  font-weight: bold;
  font-family: ArialRounded;
  background-color: white;
  border-radius: 4px;
  margin: 15px 0px 0px;
  width: 100px;
  transition: transform 0.2s;
}

.ShortAdd {
  border: none;
  background: none;
  box-shadow: none;
  color: rgb(56, 133, 138);
  font-weight: bold;
  font-family: ArialRounded;
  background-color: white;
  border-radius: 4px;
  margin: 15px 0px 0px;
  width: 100px;
  transition: transform 0.2s;
}

.LongAdd {
  border: none;
  background: none;
  box-shadow: none;
  color: rgb(57, 112, 151);
  font-weight: bold;
  font-family: ArialRounded;
  background-color: white;
  border-radius: 4px;
  margin: 15px 0px 0px;
  width: 100px;
  transition: transform 0.2s;
}

.FocusAdd:hover,
.LongAdd:hover,
.ShortAdd:hover {
  transform: scale(1.1);
}

.displayPopup {
  position: relative;
  margin: auto;
}

.middleTop {
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  padding: 20px;
}

.nextButton {
  color: white;
  background: none;
  border: none;
  margin-left: 20px;
  font-size: 25px;
  transition: transform 0.2s;
}
.nextButton:hover {
  transform: scale(1.2);
}

.roundText {
  margin-top: 10px;
  margin-bottom: 2px;
}
.roundTodoText {
  margin-top: 2px;
}

.deleteButton {
  float: right;
  background: none;
  color: white;
  border: none;
  text-align: center;
  margin-right: 5px !important;
  transition: transform 0.2;
  margin: auto;
}

.deleteButton:hover {
  transform: scale(1.2);
}
